<div class="container coasters-index">

  <a href="/coasters/new" class="btn btn-dark">Crear nueva montaña rusa</a>

  <h1 style="font-weight: 100">Índice de montañas rusas</h1>

  <hr>
  {{!-- //12-13 --}}
  {{#each allCoasters}}
 
  <a href="/coasters/{{_id}}" class="btn btn-sm btn-dark">Ver detalles</a>
  <h4>{{name}}</h4>
  <p>{{description}}</p>
  <small><strong>{{length}}: </strong> 000m | <strong>{{inversions}}: </strong> 0 | <strong>{{park}}: </strong> XXXXXX</small>
  <hr>

  {{/each}}


</div>

